superbases1-Public-css-elements-forms.css



<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Home | SafeMoon</title>
<meta name="viewport" content="width=device-width, initial-scale=0.87, shrink-to-fit=no">
<meta name="description" content="The SafeMoon Protocol is a community driven, fair launched DeFi Token. Three simple functions occur during each trade: Reflection, LP Acquisition, and Burn.">
<meta name="keywords" content="safemoon,safemars,safegalaxy,bitcoin,dogecoin,doge,defi,coinbase,coinmarketcap,coinmarket,bscscan,whitebit,coingecko,cryptocurrency,crypto,pancakeswap,dex,etherium,eth,btc">
<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
<link rel="canonical" href="https://safemoon.net/">
<meta property='og:image' content='https://safemoon.net/public/img/social_thumb.png' />
<meta property='og:image:type' content='image/png' />
<meta property='og:image:width' content='1280' />
<meta property='og:image:height' content='640' />
<meta name="twitter:card" content="summary_large_image">
<meta name='twitter:description' content='The official home of SafeMoon. The SafeMoon Protocol is a community driven, fair launched DeFi Token. Three simple functions occur during each trade: Reflection, LP Acquisition, and Burn.' />
<meta name='twitter:title' content='SafeMoon Protocol' />
<meta name="twitter:site" content="@safemoon">
<meta name='twitter:image' content='https://safemoon.net/public/img/social_thumb.png' />
<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
<link rel="stylesheet" type="text/css" href="/public/css/argon.min.css" />
<link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css?v=1619539346" />
<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/public/js/js.cookie-2.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/fontawesome.pro.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<div id="particles-js"></div>
<div class="d-flex align-items-center full-page orbitron" style="position:relative;z-index:200;">
<div class="flex-fill text-center">
<div class="border-danger mb-3" style="position: relative;width:180px;height:100px;margin:auto;transform:rotate(-30deg);">
<i class="fad fa-burn fa-5x fa-rotate-270 text-danger" style="position: absolute;left:0;"></i>
<i class="fas fa-space-shuttle fa-5x text-muted" style="position:absolute;left:80px;"></i>
</div>
<h1 class="text-muted orbitron mb-0" style="font-size:50px;">
Server Error
</h1>
<p class="text-muted">
Error 500
</p>
<p>
<a href="/" class="text-info">Return to Homepage</a>
</p>
</div>
</div>
<div class="cookie-container d-none bg-gradient-default" id="cookiebox">
<div class="container">
<div class="d-flex align-items-center mx-5 py-3">
<div class="flex-fill pr-3 d-none d-lg-block">
<i class="fal fa-cookie fa-3x my-3 text-white"></i>
</div>
<div class="flex-fill w-100">
<h2 class="text-white mb-0">Cookie Notice</h2>
<p class="mb-0 text-white font-weight-bold small">
This website makes use of cookies to improve your experience within our website. To find
out more, <br>read our
<a href="/privacy" class="text-primary font-weight-bold">
privacy policy
</a>
and
<a href="/privacy" class="text-primary  font-weight-bold">
cookie policy
</a>
</p>
</div>
<div class="text-right">
<a href="" class="btn btn-outline-white rounded-pill btn-block text-nowrap px-4" id="accept">
<i class="fas fa-check fa-fw"></i>
OKAY
</a>
</div>
</div>
</div>
</div>
<script>
        let accepted = Cookies.get("accept_cookie");

        if (!accepted) {
            $('#cookiebox').removeClass("d-none")
        }

        $('#accept').click(function(event) {
            event.preventDefault();
            Cookies.set("accept_cookie", true, { expires: 30, path: '/'});
            $('#cookiebox').slideUp()
        });
    </script>
</body>
<script type="text/javascript" src="/public/js/argon.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="/public/js/custom.js?v=1619539346"></script>
<script type="text/javascript" src="/public/js/particles.js?v=1619539346"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8JW46FHM0X"></script>
<script>
    AOS.init();
    
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-8JW46FHM0X');
</script>
</html>